<!--CABEÇALHO-->
<header class="cabecalho">
   <div class="container">
      <div class="conteudo-cabecalho">
         <div class="logo-area">
            <div class="icone-logo">
         <span class="material-symbols-outlined">
home
</span>
            </div>
            <div>
               <h1 class="nome-site" id="nome-site">MeuCurriculo.com</h1>
               <p class="slogan" id="slogan">Seu futuro começa aqui</p>
            </div>
         </div>
      </div>
   </div>
</header>


<!--TEXTO PRINCIPAL-->
<main>
   <section class="secao-principal">
      <div class="container">
         <h2 class="titulo-principal" id="titulo-principal">Crie seu currículo profissional em minutos</h2>
         <p class="subtitulo" id="subtitulo">Destaque-se no mercado com um currículo impecável</p>
         <button (click)="navegar()" class="botao-comecar" id="botao-comecar">Começar a Criar</button>
      </div>
   </section>


   <!--CARDS-PASSOS-->
   <section class="secao-passos">
      <div class="container">
         <h2 class="titulo-secao">Como Funciona</h2>

         <div class="container-passos">

            <!-- @for (let item of inforCard; track $index) {
            <app-card-passos numero="item.numero" titulo="item.titulo" descricao="item.descricao">
            </app-card-passos>
            } -->

            <app-card-passos numero="1" titulo="Escolha o Modelo"
               descricao="Modelos profissionais e modernos"></app-card-passos>
            <app-card-passos numero="2" titulo="Preencha seus Dados"
               descricao="Interface intuitiva e rápida"></app-card-passos>
            <app-card-passos numero="3" titulo="Download em PDF"
               descricao="Pronto para enviar às empresas"></app-card-passos>
         </div>
      </div>
   </section>
</main>