<main class="container">
   <div class="curriculo-modelo">
      
                                                                             <!--CABEÇALHO CURRÍCULO-->
    <div class="curriculo-cabecalho">
     <h1 class="curriculo-nome" 
     id="curriculo-nome-completo">
     {{ nomeCompleto || 'Seu nome aparecerá aqui'}}</h1>


     <p class="curriculo-idade" 
     id="curriculo-idade">
     {{idade ? idade + ' anos' : 'Sua idade aparecerá aqui'}}</p>
    </div>
    
                                                                              <!--CORPO CURRÍCULO-->




    <div class="curriculo-corpo">
      
                                                                              <!--BARRA LATERAL-->
     <aside class="curriculo-lateral">
      
                                                                                <!--CONTATOS-->
      <section>
       <h2 class="secao-titulo">Contatos</h2>


       <div class="info-item">
        <div class="info-label">
         (Telefone)
        </div>
        <div 
          class="info-valor" 
          id="curriculo-telefone"> 
          {{ telefone || 'Seu telefone aparecerá aqui'}}
        </div>
       </div>


       <div class="info-item">
        <div class="info-label">
         E-mail
        </div>
        <div 
          class="info-valor" 
          id="curriculo-email"> 
          {{ email || 'Seu E-mail aparecerá aqui'}}
        </div>
       </div>
      </section>




                                                                                  <!--HABILIDADES-->
      <section style="margin-top: 40px;">
       <h2 class="secao-titulo">Habilidades</h2>

                                                                                 <!--HABILIDADE 1-->
       <div class="habilidade-item">
        <div class="habilidade-nome" id="curriculo-habilidade-1">
         {{ habilidade1 || 'Habilidade' }}
        </div>
        <div class="habilidade-nivel-texto" id="curriculo-nivel-1">
         {{ nivel1 || 'Nível'}}
        </div>
       </div>

                                                                                 <!--HABILIDADE 2-->
       <div class="habilidade-item">
        <div class="habilidade-nome" id="curriculo-habilidade-2">
         {{ habilidade2 || 'Habilidade' }}

        </div>
        <div class="habilidade-nivel-texto" id="curriculo-nivel-2">
         {{ nivel2 || 'Nível'}}
        </div>
       </div>

                                                                                 <!--HABILIDADE 3-->
        <div class="habilidade-item">
        <div class="habilidade-nome" id="curriculo-habilidade-3">
         {{ habilidade3 || 'Habilidade' }}

        </div>
        <div class="habilidade-nivel-texto" id="curriculo-nivel-3">
         {{ nivel3 || 'Nível'}}
        </div>
       </div>

      </section>
     </aside>
     
     
     
     
                                                                             <!--CONTEÚDO PRINCIPAL-->
     <div class="curriculo-principal">
      
      
      
      
      
                                                                              <!--FORMAÇÕES ACADÊMICAS-->
      <section>
       <h2 class="secao-titulo">Formações Acadêmicas</h2>

                                                                                   <!--FORMAÇÃO 1-->

       <div class="formacao-bloco">
        <div 
          class="experiencia-titulo" 
          id="curriculo-curso-1">
         {{ curso || 'Curso'}}
        </div>

        <div 
          class="experiencia-empresa" 
          id="curriculo-instituicao-1">
          {{ instituicao || 'instituição'}}
        </div>

        <div 
          class="experiencia-periodo">
          <span id="curriculo-periodo-inicio-formacao-1">{{ inicio || 'Início ' }}</span> - 
          <span id="curriculo-periodo-fim-formacao-1">{{ fim || 'Fim' }}</span>
        </div>
       </div>


                                                                                   <!--FORMAÇÃO 2-->

          <div class="formacao-bloco">
        <div 
          class="experiencia-titulo" 
          id="curriculo-curso-2">
         {{ curso2 || 'Curso'}}
        </div>

        <div 
          class="experiencia-empresa" 
          id="curriculo-instituicao-2">
          {{ instituicao2 || 'instituição'}}
        </div>

        <div 
        class="experiencia-periodo">
          <span id="curriculo-periodo-inicio-formacao-1">{{ inicio2 || 'Início ' }}</span> - 
          <span id="curriculo-periodo-fim-formacao-1">{{ fim2 || 'Fim' }}</span>
        </div>
       </div>

      </section>
      
      
                                                                        <!--EXPERIÊNCIAS PROFISSIONAIS-->
      <section style="margin-top: 40px;">
       <h2 class="secao-titulo">Experiências Profissionais</h2>

                                                                              <!--EXPERIÊNCIA 1-->


       <div class="experiencia-bloco">
        <div 
          class="experiencia-titulo" 
          id="curriculo-cargo-1">
         {{ cargo || 'Cargo'}}
        </div>

        <div 
          class="experiencia-empresa" 
          id="curriculo-empresa-1">
         {{ empresa || 'Empresa'}}
        </div>

        <div 
          class="experiencia-periodo"><span 
          id="curriculo-periodo-inicio-1">{{ inicioEmpresa || 'Início' }}</span> - 
        <span id="curriculo-periodo-fim-1">{{ fimEmpresa || 'Fím'}}</span>
        
        </div>

        <div 
          class="experiencia-descricao" 
          id="curriculo-descricao-1">
          {{ descricao || 'Descrição das atividades'}}
        </div>
       </div>

                                                                            <!--EXPERIÊNCIA 2-->

       <div class="experiencia-bloco">
        <div 
          class="experiencia-titulo" 
          id="curriculo-cargo-1">
         {{ cargo2 || 'Cargo'}}
        </div>

        <div 
          class="experiencia-empresa" 
          id="curriculo-empresa-1">
         {{ empresa2 || 'Empresa'}}
        </div>

        <div 
          class="experiencia-periodo"><span 
          id="curriculo-periodo-inicio-1">{{ inicioEmpresa2 || 'Início' }}</span> - 
        <span id="curriculo-periodo-fim-1">{{ fimEmpresa2 || 'Fím'}}</span>
        
        </div>

        <div 
          class="experiencia-descricao" 
          id="curriculo-descricao-1">
          {{ descricao2 || 'Descrição das atividades'}}
        </div>
       </div>

      </section>
      
                                                                       <!--INFORMAÇÕES ADICIONAIS-->
      <section style="margin-top: 40px;">
       <h2 class="secao-titulo">Informações Adicionais</h2>
       <div class="informacoes-adicionais-texto" id="curriculo-informacoes-adicionais">
        {{ adicionais || 'Informações Adicionais' }}
       </div>
      </section>

      
     </div>
    </div>
   </div>
  </main>