<header class="cabecalho">
   <div class="container">
      <div class="conteudo-cabecalho">
         <div class="logo-area">
            <div class="icone-logo">
         <span class="material-symbols-outlined">
lab_profile
</span>
         </div>
         <div>
            <h1 class="nome-site" id="nome-site">MeuCurriculo.com</h1>
            <p class="slogan" id="slogan">Seu futuro começa aqui</p>
            </div>
         </div>

         <h3><nav>
           <a routerLink="/home">INÍCIO</a>
           
         </nav></h3>

      </div>
   </div>
   
</header>
